<!DOCTYPE html>
<html> 
    <head> 
        <meta charset="UTF-8">
        <title> My Website</title>
        <link rel="stylesheet" href ="/static/css/app.css">

    </head>
    <body> 
        <h1> Krystall Messam</h1>
        <p> はじめまして。Call me Krys or Kryssi. I am a true believer that you are most
             happy and free when you are unapologetically yourself. At first glance, I am calm and quiet but linger for a
            while you see that I am actually a weird, artsy, charismatic, 'head nuh gud' nerd. A lover of technology and
            the world of business, I am currently completing a Double Major in Computer Science and Accounting. A lover
            of life and all things art.. I was naturally drawn to graphic designing.
</p>

    </body>
</html>